body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

h1 {
    text-align: center;
    margin: 20px 0;
    color: whitesmoke;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

#config {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

input[type="number"],
select,
input[type="range"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="range"] {
    width: calc(100% - 50px);
    display: inline-block;
}

span {
    display: inline-block;
    width: 40px;
    text-align: center;
    font-weight: bold;
}

button {
    display: inline-block;
    width: calc(49% - 10px);
    padding: 10px;
    margin: 10px 5px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#heatmapCanvas {
    display: block;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    background: #fff;
}

#tweetButton {
    display: block;
    margin: 20px auto; /* 上下に余白を追加し、中央揃え */
    padding: 10px 20px;
    width: 200px;
    background-color: #1da1f2;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

#tweetButton:hover {
    background-color: #0d8ddb;
    width: 200px;
}

#stepCount {
    text-align: center;
    font-size: 18px;
    margin: 10px 0;
}

header {
    background: linear-gradient(90deg, 
        rgb(253, 231, 37),   /* "#FDE725" */
        rgb(34, 168, 132),   /* "#22A884" */
        rgb(42, 120, 142),   /* "#2A788E" */
        rgb(62, 74, 137),    /* "#3E4A89" */
        rgb(72, 40, 120),    /* "#482878" */
        rgb(68, 1, 84)       /* "#440154" */
    );
    color: white; /* テキストの色を白に設定 */
    padding: 20px 0; /* 上下の余白 */
    text-align: center; /* テキストを中央揃え */
    font-size: 24px; /* フォントサイズ */
    font-weight: bold; /* フォントを太字に */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* 下に影を追加 */
}